.pwd-login {
  background: var(--light-blue);
}

.pwd-login > div {
  width: 40rem;
}

.password {
  position: relative;

  .icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
}
